main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#videoPlaying {
    pointer-events: none;
}

#main-video #video {
    position: relative;
    width: 100%;
    min-height: 75vh;
}

#main-video #video #video-social {
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#main-video #video #video-social a {
    display: flex;
    align-items: center;
}

#main-video #video #video-social a i {
    font-size: 22px;
}

#main-video #video #video-social a span {
    margin-left: 5px;
}

#main-video #video #video-iframe {
    width: 800px;
    height: 500px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#main-video #video #video-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-video #video #video-content #video-react {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#main-video #video #video-content #video-react>div {
    margin-right: 10px;
}

#list-video {
    flex-grow: 0;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 80vh;
}

#list-video .item-video {
    display: flex;
    justify-content: flex-start;
    border-radius: 3px;
    padding: 24px;
    background: url("images/glassmorphism.png") no-repeat center;
}

#list-video .item-video .video-detail {
    display: flex;
    flex-flow: column wrap;
    margin-left: 10px;
}

#list-video .item-video .video-detail p {
    margin-left: -2px;
}

#list-video .item-video .video-detail .video-detail-icon {
    margin-top: 10px;
}

#list-video .item-video .video-detail-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like {
    color: #6b8afa;
}

.dislike {
    margin-left: 6px;
    color: #ff5454;
    transform: rotateY(180deg);
}

.vote {
    color: #43c641;
}

.disvote {
    color: #ff5454;
    transform: rotate(180deg);
}


/* 376px */

@media screen and (max-width: 376px) {
    .navbar-brand {
        width: 100%;
        text-align: center;
        margin-left: 20px;
    }
    #btn-search {
        width: 100px;
        margin-top: 10px;
    }
    #btn-login {
        margin-top: 10px;
    }
    main {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: auto;
    }
    #main-video {
        width: 100%;
        height: 400px;
    }
    #main-video #video {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
    }
    #main-video #video #video-social {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #main-video #video #video-social a span {
        display: none;
    }
    .fab {
        font-size: 28px;
    }
    #main-video #video #video-iframe {
        height: 50px;
        margin: 20px 0px;
    }
    #main-video #video #video-content {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    #main-video #video #video-content h4 {
        width: 100%;
        font-size: 24px;
        border: 1px solid red;
    }
    #main-video #video #video-content #video-react {
        border: 1px solid red;
    }
    #list-video {
        display: none;
        max-height: none;
        overflow-y: hidden;
        overflow: hidden;
        width: 100%;
        padding-top: 350px;
    }
    #list-video .item-video {
        padding: 14px;
    }
    #list-video .item-video img {
        width: 120px;
        height: auto;
    }
    #list-video .item-video .video-detail {
        margin-left: 8px;
    }
    #list-video .item-video .video-detail h5 {
        font-size: 16px;
    }
    #list-video .item-video .video-detail p {
        font-size: 14px;
    }
    #list-video .item-video .video-detail small {
        font-size: 12px;
    }
    #list-video .item-video .video-detail .video-detail-icon div i {
        font-size: 16px;
    }
    #list-video .item-video .video-detail .video-detail-icon div strong {
        font-size: 16px;
    }
}


/* 769px */

@media screen and (max-width: 769px) {
    main {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    #main-video {
        width: 100%;
    }
    #main-video #video {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
    }
    #main-video #video #video-social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }
    #main-video #video #video-social a {
        display: flex;
        align-items: center;
    }
    #main-video #video #video-social a span {
        margin-left: 5px;
    }
    .fab {
        font-size: 24px;
    }
    #main-video #video #video-iframe {
        width: 100%;
        height: 200px;
        margin: 20px 0px;
        border: 2px solid white;
        border-radius: 10px;
    }
    #main-video #video #video-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
    }
    #main-video #video #video-content h4 {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 22px;
    }
    #main-video #video #video-content #video-react {
        flex-shrink: 0;
    }
    #main-video #video #video-content #video-react>div {
        margin: 0px 20px;
    }
    #list-video {
        max-height: none;
        overflow-y: hidden;
        overflow: hidden;
        width: 100%;
        padding-top: 230px;
    }
    #list-video .item-video {
        justify-content: flex-start;
        margin: 20px 0px;
        padding: 16px;
    }
    #list-video .item-video img {
        width: 250px;
        height: auto;
    }
    #list-video .item-video .video-detail {
        margin-left: 10px;
    }
    #list-video .item-video .video-detail h5 {
        font-size: 24px;
    }
    #list-video .item-video .video-detail small {
        font-size: 16px;
    }
    #list-video .item-video .video-detail p {
        font-size: 20px;
    }
    #list-video .item-video .video-detail .video-detail-icon {
        margin-top: 20px;
    }
    #list-video .item-video .video-detail .video-detail-icon div i {
        font-size: 20px;
    }
    .dislike {
        margin-left: 12px;
    }
}


/* 1025px */

@media screen and (max-width: 1025px) {
    main {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #main-video {
        width: 100%;
        height: 100%;
    }
    #main-video #video {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
    }
    #main-video #video #video-social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }
    #main-video #video #video-social a {
        display: flex;
        align-items: center;
    }
    #main-video #video #video-social a i {
        font-size: 28px;
    }
    #main-video #video #video-social a span {
        font-size: 16px;
        margin-left: 5px;
    }
    .fab {
        font-size: 24px;
    }
    #main-video #video #video-iframe {
        width: 100%;
        height: 500px;
        margin: 20px 0px;
        border: 2px solid white;
        border-radius: 10px;
    }
    #main-video #video #video-content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        width: 100%;
    }
    #main-video #video #video-content h4 {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 32px;
    }
    #main-video #video #video-content #video-react {
        flex-shrink: 0;
    }
    #main-video #video #video-content #video-react>div {
        margin: 0px 20px;
    }
    #list-video {
        overflow: auto;
        width: 100%;
        margin-top: -350px;
    }
    #list-video .item-video {
        width: 100%;
        justify-content: flex-start;
        padding: 16px;
        background: url("images/glassmorphism.png") no-repeat center left;
        background-size: cover;
    }
    #list-video .item-video img {
        width: 270px;
        height: auto;
    }
    #list-video .item-video .video-detail {
        margin-left: 15px;
    }
    #list-video .item-video .video-detail h5 {
        font-size: 28px;
    }
    #list-video .item-video .video-detail small {
        font-size: 18px;
    }
    #list-video .item-video .video-detail p {
        font-size: 24px;
    }
    #list-video .item-video .video-detail .video-detail-icon {
        margin-top: 20px;
    }
    #list-video .item-video .video-detail .video-detail-icon div i {
        font-size: 24px;
    }
    .dislike {
        margin-left: 12px;
    }
}