#form-search {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#account img {
  border-radius: 50%;
  height: 40px;
}

#list-video {
  overflow: hidden;
  overflow-y: scroll;
  max-height: 80vh;
}

#list-video #item-video {
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
  margin: 10px 0px;
  padding: 24px;
  background: url("images/glassmorphism.png") no-repeat center left;
  background-size: cover;
}

#list-video #item-video img {
  max-width: 350px;
  height: 100%;
  border-radius: 10px;
}

#list-video #item-video #video-action {
  display: none;
}

#list-video #item-video #video-content {
  margin-left: 10px;
}

#list-video #item-video #video-content h5 {
  color: #ffb347;
}

#list-video #item-video #video-content p {
  margin: 5px 0px;
}

#list-video #item-video #video-content #video-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#list-video #item-video #video-content #video-author img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#list-video #item-video #video-content #video-author p {
  margin-left: 10px;
}

#list-video #item-video #video-content #btn-add {
  border: none;
  outline: none;
  background-color: rgba(197, 197, 197, 0.7);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
}

#list-video #item-video #video-content #btn-add:hover {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 1);
  color: #ffb347;
  transition: all 0.3s ease 0.1s;
}
