body {
  padding: 0;
  margin: 0;
  background-color: #000000;
}

em {
  font-size: small;
}

/* Main */
main {
  flex: 1;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  height: 100vh;
}

.od-text-title {
  color: #fbae40;
}

.od-text-info {
  color: #fef1dc;
}

.rank-header {
  display: flex;
  justify-content: space-between;
}

.video {
  background-color: #000000;
  color: rgb(240, 248, 255);
  padding-top: 10px;
  height: 100%;
}

.video__title p {
  margin-bottom: 0;
}

/* Video waiting */
.video__waiting {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.video__waiting-list {
  overflow: auto;
}

.video__waiting-list .video__item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  background-color: #000000;
}

.video__item:hover {
  background-color: #fbae40;
  cursor: pointer;
  color: #000000;
}

.video__waiting-list .video__info {
  display: flex;
  flex-direction: column;
}

.video__waiting-list .video__data {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

/* Video Recently List */
.video__recent-added {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.video__recent-list {
  overflow: auto;
}

.video__recent-list .video__item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  padding-right: 15px;
}

.video__recent-list .video__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video__recent-list .video__data {
  display: flex;
  gap: 20px;
}

footer {
  width: 100%;
  height: 30px;
  text-align: center;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: #fbae40;
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);
}
